:root {
  --main-text-colour: #757575;
  --background-colour: #ffffff;
  --accent-colour: #2196f3;
  --title-colour: #212121;
  --ligth-text-colour: #ffffff;
  --dark-bg-colour: #2f303a;
  --light-bg-colour: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-colour);
  background-color: var(--background-colour);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.logo {
  color: var(--title-colour);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}
.logo-textcolor {
  color: var(--accent-colour);
}

.studio-textcolor {
  color: var(--ligth-text-colour);
}

.site-nav a {
  color: var(--title-colour);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-colour);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--ligth-text-colour);
}

.hero .container {
  background-color: var(--dark-bg-colour);
  margin-bottom: 94px;
  text-align: center;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--ligth-text-colour);
  background-color: var(--accent-colour);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-colour);
}

.benefit-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-colour);
}

.team-section {
  background-color: var(--light-bg-colour);
  width: 1600px;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-colour);
}
footer {
  background-color: var(--dark-bg-colour);
}

.adress-item {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--ligth-text-colour);
}

.adress-link {
  color: var(--ligth-text-colour);
  font-style: normal;
}

.adress-link.link:hover,
.adress-link.link:focus {
  color: var(--accent-colour);
}

.button {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 73px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-colour);
  border-color: 1px solid transparent;
  background-color: var(--light-bg-colour);
}

.button:hover,
.button:focus {
  color: var(--ligth-text-colour);
  background-color: var(--accent-colour);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--title-colour);
}

.current a {
  color: var(--accent-colour);
}
.page-header {
}

.hero-container {
  background-color: violet;
}

.section-benefits {
  background-color: yellow;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.benefits-list {
  display: flex;
  margin-bottom: 94px;
  justify-content: flex-start;
}

margin-left: 215px;
margin-right: 215px;

.benefit-item:not(:last-child) {
  padding-right: 30px;
}

.benefit-text {
}

.section-activities {
  display: inline-block;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 94px;
}

.activities-list {
  display: flex;
  width: 1170px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.activities-item:not(:last-child) {
  padding-right: 30px;
}

.nov {
  background-color: blueviolet;
}
.auth {
  background-color: chocolate;
}
.hero {
  background-color: darkgreen;
}
